
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Index</h1>
    @Html.ActionLink("Add Lecturer", "AddLecturer")
</div>

